body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
    transition: transform 0.5s; /* Ajoute une transition pour la propriété transform */
}

body.shift-right {
    transform: translateX(-100%); /* Déplace le contenu de la page vers la gauche (masque la page actuelle) */
}

body.shift-left {
    transform: translateX(100%); /* Déplace le contenu de la page vers la droite (masque la page actuelle) */
}

h1 {
    text-align: center;
    color: #007bff;
    margin-top: 20px;
}

.contenu1 {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    line-height: 1.5;
    margin-bottom: 15px;
}

.special {
    font-weight: bold;
    background-color: rgb(45, 138, 245);
    padding: 14px;
    border-radius: 15px;
}

.graphs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.graph1, .graph2, .graph3 {
    width: calc(48.33% - 20px);
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.graph3 {
    width: calc(100% - 40px);
}

 /* Styles communs pour les boutons */
.boutton1,
.boutton2 {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.boutton1:hover,
.boutton2:hover {
    background-color: #0056b3; /* Change la couleur au survol */
}

/* Place le bouton à droite */
.boutton1 {
    position: relative;
    margin-left: 1100px;
    bottom: 20px;
    right: 20px;
}

/* Place le bouton à gauche */
.boutton2 {
    margin-left: 60px;
    position: relative;
    bottom: 20px;
    left: 20px;
}

